/* 初始化 */
html,
body,
header,
footer,
nav,
header,
footer,
div,
ul,
li,
img,
a,
span,
em,
form,
p,
i,
label,
input,
button,
textarea,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 16px;
}
html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
nav,
header,
footer {
  display: block;
  position: relative;
}
img,
a,
button,
em,
label,
textarea,
span,
i {
  display: inline-block;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
label {
  word-wrap: break-word;
  word-break: break-all;
}
input,
button,
textarea {
  border: 0;
  font-size: 1em;
  line-height: 1em;
  font-family: sans-serif;
  text-decoration: none;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
}
button {
  outline: none;
  cursor: pointer;
}
/* 结构 */
body {
  overflow: hidden;
  position: relative;
}
.img-box {
  position: relative;
  margin: 0 auto;
  font-size: 0;
}
.imgCenter {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.poaCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.poa100 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bgc {
  background-size: contain;
  background-position: center;
}
.bgs {
  background-size: cover;
  background-position: center;
}
.bga {
  background-size: 100% 100%;
  background-position: center;
}
.mr15 {
  margin-right: 15px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
/* 首页 */
.index {
  width: 100%;
  height: 100%;
  min-width: 1780px;
  min-height: 1060px;
  padding-left: 300px;
  background-color: #1E1E1E;
}
.index > div {
  position: relative;
  height: 100%;
}
.index .menu {
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  padding-top: 422px;
  background-color: #292929;
}
.index .menu .logo {
  padding: 53px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.index .menu .logo .img-box {
  width: 114px;
  padding-right: 30px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.index .menu .userInfo {
  position: absolute;
  top: 136px;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.6;
}
.index .menu .userInfo .img-box {
  width: 118px;
  height: 118px;
  overflow: hidden;
  margin-bottom: 25px;
}
.index .menu .userInfo .img-box img {
  behavior: url(pie.htc);
  border-radius: 50%;
}
.index .menu .userInfo h4 {
  font-size: 26px;
  font-weight: 500;
  padding-right: 6px;
}
.index .menu .userInfo p {
  font-size: 20px;
  padding-right: 3px;
  letter-spacing: -0.5px;
  font-weight: 600;
  line-height: 1.5;
}
.index .menu .nav {
  overflow-y: auto;
  height: 100%;
}
.index .menu .nav ul {
  border-top: 3px solid #5C5C5C;
  position: relative;
  padding-bottom: 114px;
  min-height: 100%;
}
.index .menu .nav li {
  border-bottom: 3px solid #5C5C5C;
  border-top: 1px solid transparent;
}
.index .menu .nav .loginout {
  border: none;
  position: absolute;
  bottom: 28px;
  left: 0;
  width: 100%;
}
.index .menu .nav .loginout a i {
  margin-right: 10px;
}
.index .menu .nav a {
  display: block;
  padding: 23px 30px 27px 45px;
  color: #868686;
  font-size: 24px;
  line-height: 1;
}
.index .menu .nav a.nav-cur,
.index .menu .nav a:active,
.index .menu .nav a:hover {
  color: #C7C7C7;
}
.index .menu .nav a.nav-cur {
  background-image: url('../image/b-1.png');
  background-size: 3px 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  behavior: url(backgroundsize.min.htc);
}
.index .menu .nav a i {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  position: relative;
  top: 4px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.index .menu .nav a .icon-right {
  width: 16px;
  height: 25px;
  margin-right: 0;
  position: absolute;
  top: 25px;
  right: 25px;
}
.index .menu .nav a .mr15 {
  margin-right: 16px;
}
.index .page {
  padding: 45px 36px 15px 25px;
}
.index .page .header {
  color: #868686;
  overflow: hidden;
  padding: 18px;
}
.index .page .header h3 {
  float: left;
  font-size: 25px;
  padding-top: 10px;
}
.index .page .header .btn-msgback {
  float: right;
  position: relative;
  top: 1px;
  padding: 14px 35px;
  cursor: pointer;
}
.index .page .header .btn-msgback i {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  vertical-align: middle;
}
.index .page .header .btn-msgback span {
  font-size: 20px;
  vertical-align: middle;
}
.index .page .header .btn-msgback:active,
.index .page .header .btn-msgback:hover {
  opacity: 0.9;
}
.index .page .content .seat {
  float: left;
  width: 33.3333%;
  height: 338px;
  padding: 18px;
}
.index .page .content .seat > .bgc-g {
  height: 100%;
}
.index .page .content .seat .btn-g {
  text-align: center;
  padding: 10px 40px;
  color: #BEBEBE;
  margin-left: 6px;
  cursor: pointer;
  background-color: #545454;
}
.index .page .content .seat .btn-g:active,
.index .page .content .seat .btn-g:hover {
  opacity: 0.9;
}
.index .page .icon-bg {
  width: 42px;
  height: 42px;
  background-color: #545454;
  border-radius: 50%;
  behavior: url(pie.htc);
  -webkit-box-shadow: 0px 2px 6px 0px #464646;
          box-shadow: 0px 2px 6px 0px #464646;
  padding-top: 9px;
  overflow: hidden;
  position: relative;
  left: 1px;
  text-align: center;
  vertical-align: middle;
}
.index .page .icon-bg i {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.index .page .seat-user .bgc-g {
  text-align: center;
  padding-top: 50px;
}
.index .page .seat-user .bgc-g div {
  padding: 40px 0 22px 9px;
  color: #fff;
  font-size: 40px;
  letter-spacing: 1px;
}
.index .page .seat-user .bgc-g p {
  color: #868686;
  font-size: 22px;
}
.index .page .seat-account .bgc-g {
  padding: 18px;
}
.index .page .seat-account .saccount-header {
  padding: 12px 44px 26px;
  border-bottom: 2px solid #303030;
}
.index .page .seat-account .saccount-header .icon-bg {
  margin-right: 14px;
}
.index .page .seat-account .saccount-header span {
  color: #868686;
  font-size: 22px;
  vertical-align: middle;
  padding-bottom: 1px;
}
.index .page .seat-account .saccount-content {
  padding-top: 18px;
  overflow: hidden;
}
.index .page .seat-account .saccount-content p {
  line-height: 1.5;
}
.index .page .seat-account .saccount-content .sac-balance {
  float: left;
  padding-left: 11px;
}
.index .page .seat-account .saccount-content .sac-balance p {
  font-size: 41px;
  color: #fff;
  margin-bottom: 20px;
}
.index .page .seat-account .saccount-content .sac-balance .bgc-g {
  text-align: center;
  padding: 10px 40px;
  color: #BEBEBE;
  margin-left: 6px;
  cursor: pointer;
}
.index .page .seat-account .saccount-content .sac-balance .bgc-g:active,
.index .page .seat-account .saccount-content .sac-balance .bgc-g:hover {
  opacity: 0.9;
}
.index .page .seat-account .saccount-content .sac-lastmonth {
  float: right;
}
.index .page .seat-account .saccount-content .sac-lastmonth p {
  color: #989898;
  font-size: 20px;
  padding-left: 3px;
}
.index .page .seat-account .saccount-content .sac-lastmonth .sac-lm-money {
  padding: 1px 2px 13px;
  font-size: 26px;
}
.index .page .seat-account .saccount-content .sac-lastmonth .sac-lm-money em {
  color: #565656;
}
.index .page .seat-account .saccount-content .sac-lastmonth .sac-progress {
  border-radius: 2px;
  overflow: hidden;
  height: 4px;
  width: 182px;
  background-color: #383838;
  position: relative;
}
.index .page .seat-account .saccount-content .sac-lastmonth .sac-progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #29BBCC;
}
.index .page .seat-account .saccount-content .sac-lastmonth .sac-lm-date {
  padding: 30px 0 0 6px;
  font-size: 18px;
}
.index .page .seat-use .bgc-g {
  padding: 18px 24px;
}
.index .page .seat-use .saccount-header {
  padding: 12px 0 0px;
}
.index .page .seat-use .saccount-header .icon-bg {
  margin-right: 14px;
}
.index .page .seat-use .saccount-header span {
  color: #868686;
  font-size: 22px;
  vertical-align: middle;
  padding-bottom: 1px;
}
.index .page .seat-use .saccount-content {
  padding: 0 11px 0 3px;
}
.index .page .seat-use .suc-circle .processingbar {
  position: relative;
  width: 180px;
  height: 180px;
}
.index .page .seat-use .suc-circle .processingbar em {
  position: absolute;
  left: 0;
  top: 50%;
  line-height: 1;
  font-size: 24px;
  color: #868686;
  text-align: center;
  width: 100%;
  margin-top: -12px;
}
.index .page .seat-use .suc-flow {
  position: relative;
  padding-top: 38px;
}
.index .page .seat-use .suc-flow h4 {
  color: #fff;
  font-size: 39px;
  font-weight: 500;
  margin-bottom: 30px;
}
.index .page .seat-use .suc-flow p {
  font-size: 15px;
  color: #999;
  margin-bottom: 17px;
  padding-left: 3px;
  letter-spacing: 2px;
}
.index .page .seat-use .suc-flow div {
  font-size: 29px;
  color: #BDBDBD;
  padding-left: 3px;
}
.index .page .seat-detail .bgc-g {
  padding: 18px 18px 10px 18px;
  overflow: hidden;
}
.index .page .seat-detail .saccount-header {
  padding: 13px 10px 17px 12px;
  position: relative;
}
.index .page .seat-detail .saccount-header span {
  color: #868686;
  font-size: 22px;
}
.index .page .seat-detail .saccount-header .sdh-select {
  position: absolute;
  top: 12px;
  right: 17px;
}
.index .page .seat-detail .saccount-header .sdhs-tabs {
  position: relative;
  margin-right: 26px;
}
.index .page .seat-detail .saccount-header .sdhs-tabs .sdhs-date {
  position: absolute;
  left: 0;
  bottom: -30px;
  color: #919191;
  font-size: 19px;
}
.index .page .seat-detail .saccount-header .sdhs-tab li {
  float: left;
}
.index .page .seat-detail .saccount-header .sdhs-tab li span {
  cursor: pointer;
  font-size: 19px;
  padding: 3px 8px 4px;
  color: #A9A9A9;
  border-bottom: 3px solid transparent;
}
.index .page .seat-detail .saccount-header .sdhs-tab li:active span,
.index .page .seat-detail .saccount-header .sdhs-tab li:hover span,
.index .page .seat-detail .saccount-header .sdhs-tab li.detail-cur span {
  color: #BEBEBE;
  border-bottom-color: #2BB4B1;
}
.index .page .seat-detail .saccount-header .btn-bg {
  border: 1px solid #BEBEBE;
  border-radius: 5px;
  font-size: 20px;
  padding: 3px 8px;
  color: #BEBEBE;
  behavior: url(pie.htc);
  cursor: pointer;
}
.index .page .seat-detail .saccount-header .btn-bg:active,
.index .page .seat-detail .saccount-header .btn-bg:hover {
  opacity: 0.9;
}
.index .page .seat-detail .sdc-bars {
  height: 270px;
  padding: 32px 25px 20px 10px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box {
  height: 100%;
  position: relative;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box.sdc-bars-month li {
  width: 8.33333333%;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box ul {
  position: relative;
  z-index: 2;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box ul,
.index .page .seat-detail .sdc-bars .sdc-bars-box li {
  height: 100%;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box li {
  float: left;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box li > div {
  height: 50%;
  width: 10px;
  margin: 0 auto;
  position: relative;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box li > div span {
  position: absolute;
  left: 0;
  width: 100%;
  behavior: url(pie.htc);
}
.index .page .seat-detail .sdc-bars .sdc-bars-box .sdc-bar-up {
  bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #FB3747;
  background: -webkit-gradient(linear, left top, left bottom, from(#F6A055), to(#F32947));
  background: linear-gradient(top, #F6A055, #F32947 100%);
}
.index .page .seat-detail .sdc-bars .sdc-bars-box .sdc-bar-down {
  bottom: top;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #29BDE3;
  background: -webkit-gradient(linear, left top, left bottom, from(#20B5EE), to(#2ED9D5));
  background: linear-gradient(top, #20B5EE, #2ED9D5 100%);
}
.index .page .seat-detail .sdc-bars .sdc-bars-box .sdc-bar-hr {
  position: absolute;
  left: -10%;
  top: 50%;
  height: 2px;
  background-color: #505052;
  width: 120%;
  z-index: 3;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box .sdc-bar-hr-tip {
  position: absolute;
  left: 8.5%;
  top: -17px;
  background-color: #7E7E7E;
  border-radius: 20px;
  behavior: url(pie.htc);
  padding: 8px 6px;
  color: #BEBEBE;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box .sdc-bar-hr-tip i {
  width: 14px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box .sdc-bar-hr-tip span {
  line-height: 1;
  font-size: 18px;
}
.index .page .seat-detail .sdc-bars .sdc-bars-box .sdc-bar-hr-circle {
  position: absolute;
  left: 66.5%;
  top: -8px;
  border: 3px solid #505052;
  padding: 3px;
  border-radius: 50%;
  line-height: 1;
  font-size: 0;
  behavior: url(pie.htc);
}
.index .page .seat-detail .sdc-bars .sdc-bars-box .sdc-bar-hr-circle i {
  width: 8px;
  height: 8px;
  background-color: #D2D2D2;
  border-radius: 50%;
  behavior: url(pie.htc);
}
.index .page .seat-detail .sdc-times {
  padding: 20px 20px 0px 20px;
}
.index .page .seat-detail .sdc-times ul {
  overflow: hidden;
}
.index .page .seat-detail .sdc-times li {
  width: 8.33333333%;
  float: left;
  text-align: center;
}
.index .page .seat-detail .sdc-times li span {
  color: #BEBEBE;
  font-size: 20px;
  line-height: 1.5;
}
.index .page .seat-plan {
  position: relative;
}
.index .page .seat-plan .bgc-g {
  padding: 18px;
}
.index .page .seat-plan .saccount-header {
  padding: 13px 10px 17px 17px;
  border-bottom: 2px solid #303030;
  position: relative;
}
.index .page .seat-plan .saccount-header span {
  color: #868686;
  font-size: 22px;
  vertical-align: middle;
  padding-bottom: 1px;
}
.index .page .seat-plan .saccount-header .bgc-g {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 6px 10px;
  color: #BEBEBE;
  font-size: 20px;
}
.index .page .seat-plan .saccount-content .img-box {
  padding-top: 34px;
  width: 178px;
  left: 3px;
}
.index .page .seat-plan .saccount-content .spc-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
}
.index .page .seat-plan .saccount-content .spc-net {
  overflow: hidden;
  padding: 33px 60px 16px;
}
.index .page .seat-plan .saccount-content .spc-net i {
  width: 16px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.index .page .seat-plan .saccount-content .spc-net em {
  font-size: 26px;
  color: #999;
  line-height: 1.6;
}
.index .page .seat-plan .saccount-content .spc-hide {
  text-align: center;
  font-size: 15px;
  color: #999;
  line-height: 1.6;
}
.index .page .seat-plan .btn-box {
  width: 92px;
  height: 92px;
  background-image: url('../image/b-2.png');
  background-repeat: repeat-x;
  background-size: 1px 100%;
  background-position: center;
  border-radius: 50%;
  behavior: url(pie.htc);
  text-align: center;
  line-height: 92px;
  color: #fff;
  font-size: 21px;
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -46px;
  -webkit-box-shadow: 0 2px 5px 0px #292524;
          box-shadow: 0 2px 5px 0px #292524;
  z-index: 2;
  cursor: pointer;
}
.index .page .seat-plan .btn-box:active,
.index .page .seat-plan .btn-box:hover {
  opacity: 0.9;
}
.test {
  overflow: auto;
  width: 1960px;
  height: 1101px;
  background-image: url('../image/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: transparent;
}
.test > div {
  z-index: 2;
  opacity: 0.9;
}
.test .menu {
  background-color: transparent;
}
.test .bgc-g {
  background-color: transparent;
}
.icon-data {
  background-image: url('../image/nav-1.png');
}
.icon-user {
  background-image: url('../image/nav-2.png');
}
.icon-user2 {
  background-image: url('../image/icon-4.png');
}
.icon-change {
  background-image: url('../image/nav-3.png');
}
.icon-use {
  background-image: url('../image/nav-4.png');
}
.icon-use2 {
  background-image: url('../image/icon-3.png');
}
.icon-pay {
  background-image: url('../image/nav-5.png');
}
.icon-pay2 {
  background-image: url('../image/icon-2.png');
}
.icon-other {
  background-image: url('../image/nav-6.png');
}
.icon-loginout {
  background-image: url('../image/nav-7.png');
}
.icon-right {
  background-image: url('../image/icon-right.png');
}
.icon-msg {
  background-image: url('../image/icon-1.png');
}
.icon-netup {
  background-image: url('../image/a-1.png');
}
.icon-netDown {
  background-image: url('../image/a-2.png');
}
.icon-netDown2 {
  background-image: url('../image/a-3.png');
}
.bgc-g {
  background-color: #292929;
  border: 1px solid transparent;
  border-radius: 8px;
  behavior: url(pie.htc);
}
